keras==2.3.1
tensorflow==1.15.2
pandas==1.0.3
numpy==1.14.6
tqdm==4.41.1
scipy==1.1.0
statsmodels==0.10.1
matplotlib==3.1.1 
seaborn==0.9.0
python==3.6.9
yfinance==0.1.54
scikitlearn==0.22.1
pandas_datareader==0.8.1
talib==0.4.9
alpha-vantage==2.1.3
beautifulsoup4==4.8.2
pydot==1.4.1
